*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix{
	clear: both;
}

.container{
	width: 800px;
	margin: 0 auto;
}

.col-a-5{
	width: 50%;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}

.col-a-10{
	width: 100%;
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}


.visible-x{
	display: none;
}

.space-30{
	height: 30px;
	opacity: 0;
}

@media( max-width:  800px){
	.container{
		width: 100%;
	}

	.col-a-5{
		width: 100%;
		float: none;
	}
	.col-a-10{
		width: 100%;
		float: none;
	}

	.visible-x{
		display: block;
	}

}
.bg-0{
	background-color: #000;
}
.bg-1{
	background-color: gray;
}

.bg-2{
	background-color: #e4e4e4;
}

.text-center{
	text-align: center;
}

.img-100{
	display: block;
	width: 100%;
	height: auto;
}

.content-1{
	font-size: 15px;
	font-weight: 400;

}

.content-2{
	font-size: 13px;
	font-weight: 400;
}

.title-1{
	font-size: 25px;
	font-weight: 700;
}


.list-1{
	list-style: none;
}

.list-1 li{
	float: left;
}

.list-1 li+li{
	margin-left: 5px;
}
.list-1 li a{
	color: #000;
	text-decoration: none;
	display: block;
	padding: 5px;
	border: 1px solid rgba(0,0,0,.3);
}

.cc-1 .list-1 li a{
	color: #fff;
	border: 1px solid rgba(255,255,255,.3);
}